@model ICollection<QuizApplication.Models.QuizListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Quiz")
</p>
<table style="width: 100%">
    <tr>
        <th>
            Teacher
        </th>
        <th>
            Subject
        </th>
        <th>
           Is Exam?
        </th>
        <th>
           Grade
        </th>
        <th>
            State
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.StateName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Quiz", new { id=item.QuizID }, null) |
            @Html.ActionLink("Details", "Details", "Quiz", new { id=item.QuizID }, null) |
            @Html.ActionLink("Delete", "Delete", "Quiz", new { id=item.QuizID }, null)
        </td>
    </tr>
}

</table>
