@model ICollection<QuizApplication.Models.ExerciseListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Exercise")
</p>
<table style="width: 100%;">
    <tr>
        <th>
            Teacher Name
        </th>
        <th>
            Category
        </th>
         <th>
            Question
        </th>
        <th>
            Answer
        </th>
        <th>
            Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Exercise", new { id=item.ExerciseID }, null) |
            @Html.ActionLink("Details", "Details", "Exercise", new { id=item.ExerciseID }, null) |
            @Html.ActionLink("Delete", "Delete", "Exercise", new { id=item.ExerciseID }, null)
        </td>
    </tr>
}

</table>
